.netflix_logo{
    width: 100px;
}

.navbar{
    padding-left: 34px;
}

.avatar_photo{
    width: 25px;
}

.dropdown_avatar{
    width: 30px;
}

.img{
    width: 200px;
}

main{
    padding-bottom: 10px;
}

footer{
    padding-bottom: 10px;
}
